html {
    border: 2px black dashed;
    height: 100%;
    width: 100%;
}

body {
    border: 2px red dashed;
}

header {
    border: 2px blue dashed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav {
    border: 2px green dashed;
}


