@font-face {
    font-family: "Meow Script";
    src: url('./MeowScript-Regular.ttf');
}

html body {
    /* border: 2px yellow dashed; */
    background-color: #282B31;
    padding: 0;
    margin: 0;
} 

header {
    /* border: 2px blue dashed; */
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header h1 {
    min-width: 40%;
    font-family: "Meow Script", serif;
    /* font-family: "Imperial Script", serif; */
    /* font-family: "Mea Culpa", serif; */
    /* font-family: "Rouge Script", serif; */
    font-weight: 400;
    font-size: 8vw;
    font-style: normal;
    color: rgb(246, 238, 234);
}

nav {
    /* border: 2px green dashed; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
    color: rgb(246, 238, 234);
    display: flex;
    justify-content: center;
    max-width: 100%;
}

nav ul {
    /* border: 2px purple dashed; */
    margin: 2vw;
    padding: 0;
}

nav a {
    display:inline-flex;
    text-decoration: none;
    color: rgb(246, 238, 234);
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main h1, h2, h3, p {
    color: rgb(246, 238, 234);
    text-align: center;
    margin: 2rem 5rem 2rem;
}

.date {
    font: 4.5vh sans-serif;
    text-wrap: nowrap;
}

.outside_link a {
    color: orange;
    font-size: 1.17em;
}

.outside_link h3 {
    text-align: center;
}

.app_link {
    width: 20rem;
}

section {
    /* border: 2px lime dashed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 2em;
}

section h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(246, 238, 234);
}

section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(246, 238, 234);
    width: 90%;
}

section img {
    max-width: 70%;
    height: auto;
}

footer {
    /* border: 2px orange dashed; */
    height: 7em;
}
